Django==5.2.8
channels==4.3.1
channels-redis==4.3.0
celery==5.5.3
redis==5.2.1
python-dotenv==1.1.1
whitenoise==6.11.0
google-genai==1.61.0
reportlab==4.4.4
psycopg[binary]==3.2.12
uvicorn==0.38.0
gunicorn==23.0.0
websockets==15.0.1
